@{
    ViewData["Title"] = "Home Page";
    layout: null
}

<head>
    
    <title>Mi primer Bloog</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>  

    <header>
        <h2 class="logo">Equipo Net</h2>
        <nav class="navegacion">
            <a href="#">inicio</a>
            <a href="#">nosotros</a>  
            <a href="#">contacto</a> 
          </nav>

    </header>

    <div class="wrapper">
        <div class="fron-box login">
            <h3>inicio</h3>
        <form action="#">
            <div class="input-box">
                <span class="icon"><ion-icon name="mail"></ion-icon></span>
                 <input type="email" required>
                 <label >correo</label>  
                 </div>
            <div class="input-box">
                <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                 <input type="password" required>
                 <label >contraseña</label>
            </div>    
            <div class="recordar contraseña">
                    <label input type="checkbox"> recordarme </label>
                    <a href="#">olvido contraseña?</a>
            </div>
            
            <button type="submit" class="btn" >iniciar sesion </button>
          
             <div class="enlace de registro">
                  <p>no tienes una cuenta? <a href="#">registrarse</a>
</form>




</body>
